@import reset
@import fonts
@import animations

$isAnimated = true
$yellow = #91c840
$off-black = #202020
$off-white = #f9f9f9
$grid-gap = 30px
$easeInOutQuart = cubic-bezier(0.76, 0, 0.24, 1)
$globalDelay = $isAnimated ? 2.2s : 0

*
    box-sizing border-box
ul
    list-style none
a
    color: $off-black
    font-family: 'Boogy_Brut_WEBL-Medium'

span.light
    font-family: 'Boogy_Brut_WEBL-Light'

body 
    font-family: 'Boogy_Brut_WEBL-Medium'
    background:$off-white
    color:$off-black
    padding:50px
    font-size:2.3em
    text-rendering: geometricPrecision
    image-rendering: -webkit-optimize-contrast



.parent-container
    max-width: 1480px
    border-top: 10px solid $off-white
    padding-top: 18px
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    gap:0px
    margin:0 auto

.parent-container
    > .header
        flex-basis 100%
        padding-bottom: 150px
        position:relative
        .top-bar
            background-color $off-black
            width 100%
            height 10px
            position absolute
            top -28px
            left 0
            transform-origin: top left
            animation-duration: 1.9s
            animation-timing-function: $easeInOutQuart
            animation-fill-mode: forwards
            animation-delay: $globalDelay
            transform:scaleX(1)
            if $isAnimated
                transform:scaleX(0)
                animation-name: scale-horizontal
                
    .title
        font-family: 'Boogy_Brut_WEBL-Medium'
        letter-spacing:-1px
        font-size:1.1em
        animation-duration: 1s
        animation-fill-mode: forwards
        if $isAnimated
            opacity:0
            animation-name: fade-in

    .subtitle
        font-family: 'Boogy_Brut_WEBL-Light'
        letter-spacing:-1.2px
        font-size:1.0em
        max-width: 380px
        display: block
        animation-duration: 1s
        animation-delay: 1s
        animation-fill-mode: forwards
        if $isAnimated
            opacity:0
            animation-name: fade-in


.item.hello
    animation-duration: 0.8s
    animation-fill-mode: forwards    
    animation-timing-function: $easeInOutQuart
    animation-delay: $globalDelay
    position:relative
    border-top:3px solid $off-black
    flex-basis 30%
    margin:0px 0px 0px 0px
    if $isAnimated
        clip-path: inset(0px 1000px 0px 0px);
        animation-name: mask-horizontal

    .entry 
        .title
            color: $yellow  
            font-family: 'Boogy_Brut_Poster_WEB-White'
            font-size:2.4em
            padding-bottom:0
        .content
            font-size 0.4em
            padding:10px 0
            font-family: 'Boogy_Brut_WEBL-Regular'
        ul
            font-family: 'Boogy_Brut_WEBL-Regular'
            font-size 0.4em
            color: #666
            border-left:4px solid #CCC
            margin-top:30px
            padding-left:30px
        li:first-child
            padding-top:0
        li:last-child
            padding-bottom:0
        li
            padding:13px 0




.content-container
    display:flex
    flex-flow: column wrap
    justify-content: right
    gap:$grid-gap
    flex-basis 66%
    max-height: 1400px




.item.content
    for num in (1..30)
      &:nth-child({num}) 
        animation-delay: 100ms * num + 450 + $globalDelay;
    animation-duration: 0.6s
    animation-fill-mode: forwards    
    animation-timing-function: $easeInOutQuart
    if $isAnimated
        animation-name: mask-horizontal
        clip-path: inset(0px 400px 0px 0px);
    border-top:3px solid $off-black
    width "calc(33% - %s)" % $grid-gap
    margin: 0 1rem 1rem 0
    position relative
    // overflow:hidden
    z-index: 0
    &.personal
        z-index: 1
    > .title
        font-family: 'Boogy_Brut_WEBL-Medium'
        font-size:0.6em
        padding:14px 0
    .entry
        for num in (1..30)
            &:nth-child({num}) 
                animation-delay: 80ms * num + 1450 + $globalDelay
        animation-duration: 0.85s
        animation-fill-mode: forwards    
        animation-timing-function: $easeInOutQuart
        if $isAnimated
            opacity:0
            animation-name: fade-in
        font-size:0.4em
        padding:10px 0
        display:flex
        flex-direction:column
        flex-wrap:nowrap
        .preview
            pointer-events:none
            position:fixed
            top:0
            left:0
            opacity:0
            display: none
            border: 5px solid $off-black
            transition-property: transform
            transition-duration: 0.3s
            max-width:650px
            z-index:0
            img
                display: block
                max-width:100%
            &.on
                display:block
                opacity:1
        .text-wrap
            position:relative
            z-index: -1
            pointer-events:none
            color: $off-black
            opacity:1
            &.focus
                &:before
                    content: ''
                    background:rgba(0,0,0,0.5)
                    position:absolute;
                    top:-10px
                    left:-10px
                    width:calc(100% + 20px)
                    height:calc(100% + 20px)
                    z-index:-1
                z-index:1
                color: #FFF
                opacity: 1
                a
                    color: #FFF
                    pointer-events:auto
            .title
                font-family: 'Boogy_Brut_WEBL-Bold'
            .content
                font-family: 'Boogy_Brut_WEBL-Light'
    .footnote
        font-size:0.3em
        font-style: italic
        font-family: 'Boogy_Brut_WEBL-Light'
        padding:10px 0
    &.hide .text-wrap
        z-index:-1




@media screen and (min-width: 1300px){
    .content-container{
        max-height:1250px
    }
}

@media screen and (max-width: 960px){
    .content-container{
        max-height:2000px
    }
    .item.content{
        width "calc(50% - %s)" % $grid-gap
    }
}

@media screen and (max-width: 800px){
    .content-container{
        max-height:2600px
    }
    .item.content{
        width "calc(50% - %s)" % $grid-gap
    }
}


@media screen and (max-width: 620px){
    body{
        padding: 25px
        font-size:3.0em
    }
    .item.hello{
        flex-basis 100%
        margin-bottom 30px
    }
    .content-container{
        flex-basis 100%
        max-height 5000px
        gap 20px
        margin-top 20px
    }
    .item.content{
        width 100%
        > .title {
            font-size:0.7em
            font-family: 'Boogy_Brut_WEBL-Medium'
        }
    }
}

