@import reset
@import fonts

$yellow = #91c840
$off-black = #202020
$grid-gap = 30px

*
    box-sizing border-box
ul
    list-style none
a
    color: $off-black
    font-family: 'Boogy_Brut_WEBL-Medium'

span.light
    font-family: 'Boogy_Brut_WEBL-Light'

body 
    font-family: 'Boogy_Brut_WEBL-Medium'
    background:#f9f9f9
    color:$off-black
    padding:50px
    font-size:2.3em
    text-rendering: geometricPrecision
    image-rendering: -webkit-optimize-contrast



.parent-container
    max-width: 1480px
    border-top: 10px solid $off-black
    padding-top: 18px
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    gap:0px
    margin:0 auto

.parent-container
    > .header
        flex-basis 100%
        padding-bottom: 150px
    .title
        font-family: 'Boogy_Brut_WEBL-Medium'
        letter-spacing:-1px
        font-size:1.1em

    .subtitle
        font-family: 'Boogy_Brut_WEBL-Light'
        letter-spacing:-1.2px
        font-size:1.0em
        max-width: 380px
        display: block



.item.hello
    border-top:3px solid $off-black
    flex-basis 30%
    margin:0px 0px 0px 0px
    .title
        color: $yellow  
        font-family: 'Boogy_Brut_Poster_WEB-White'
        font-size:2.4em
        padding-bottom:0

    .entry 
        font-size 0.4em
        .content
            padding:10px 0
            font-family: 'Boogy_Brut_WEBL-Regular'
    ul
        font-family: 'Boogy_Brut_WEBL-Regular'
        color: #666
        border-left:4px solid #CCC
        margin-top:30px
        padding-left:30px
    li:first-child
        padding-top:0
    li:last-child
        padding-bottom:0
    li
        padding:8px 0


.polymorph-wrap{
    position absolute
    top 0
    left 0
}

.polymorph {
    fill #398f5a
    opacity 0.5
}


.content-container
    display:flex
    flex-flow: column wrap
    justify-content: right
    gap:$grid-gap
    flex-basis 66%
    max-height: 1400px


@keyframes mask-horizontal {
    from {
        clip-path: inset(0px 400px 0px 0px);
    }
    to {
        clip-path: inset(0px 0px 0px 0px);
    }
}

@keyframes fade-in {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}

.item.content
    for num in (1..30)
      &:nth-child({num}) 
        animation-delay: 100ms * num;
    clip-path: inset(0px 400px 0px 0px);
    animation-duration: 0.6s
    animation-fill-mode: forwards    
    animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1)
    animation-name: mask-horizontal
    
    border-top:3px solid $off-black
    width "calc(33% - %s)" % $grid-gap
    margin: 0 1rem 1rem 0
    position relative
    overflow hidden
    > .title
        font-family: 'Boogy_Brut_WEBL-Medium'
        font-size:0.6em
        padding:14px 0
    .entry
        opacity:0
        for num in (1..30)
            &:nth-child({num}) 
                animation-delay: 40ms * num + 800;
        animation-duration: 0.5s
        animation-fill-mode: forwards    
        animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1)
        animation-name: fade-in

        font-size:0.4em
        padding:10px 0
        display:flex
        flex-direction:column
        flex-wrap:nowrap
        .text-wrap
            .title
                font-family: 'Boogy_Brut_WEBL-Bold'
            .content
                font-family: 'Boogy_Brut_WEBL-Light'
    .footnote
        font-size:0.3em
        font-style: italic
        font-family: 'Boogy_Brut_WEBL-Light'
        padding:10px 0




@media screen and (min-width: 1300px){
    .content-container{
        max-height:1250px
    }
}

@media screen and (max-width: 850px){
    .content-container{
        max-height:2000px
    }
    .item.content{
        width "calc(50% - %s)" % $grid-gap
    }
}

@media screen and (max-width: 620px){
    body{
        padding: 25px
        font-size:3.0em
    }
    .item.hello{
        flex-basis 100%
        margin-bottom 30px
    }
    .content-container{
        flex-basis 100%
        max-height 5000px
        gap 20px
        margin-top 20px
    }
    .item.content{
        width 100%
        > .title {
            font-size:0.7em
            font-family: 'Boogy_Brut_WEBL-Medium'
        }
    }
}

