doctype html
html(lang="en")
  head
    title Nick Jonas
    meta(charset='utf-8')
    link(rel="stylesheet", href="/static/css/main.css")
    meta(name='description', content='Portfolio of a product designer & creative technologist')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
  body


  .parent-container 

    section.header
      span.top-bar
      span.title Nick Jonas
      br
      span.subtitle Product Designer & Creative Technologist
    
    .item.hello
      .entry
        .text-wrap
          .title Hi
          .content I have a constant drive to discover the most interesting and important problems to solve.  I want to bring my experience and expertise to diverse teams in an effort to reduce the most complex problems into elegant solutions using a human-centered design approach.
          .content My career has been standing on the shoulders of giants, so it’s only fair to reference them here:
          ul
            li “Unless you begin with an interesting problem, it is unlikely you will end up with an interesting solution.” - Bob Gill
            li “If I had 60 minutes to solve a problem, I’d spend 55 minutes defining it, and 5 minutes solving it. ” - Albert Einstein
            li “Don’t undertake a project unless it is manifestly important and nearly impossible.” - Edwin Land
    
    
    .content-container

      .item.content.work
        .title Work
        .entry
          .title 
            a(href='mailto:njonas45@gmail.com') Please reach out to view my portfolio.
        .entry 
          .text-wrap
            .title March 2019 - Present
            .content Director of Product Design
            .content Sidewalk Labs – NYC
        .entry 
          .text-wrap
            .title 2018
            .content Professor at SVA 
            .content Interaction Design  - NYC
        .entry 
          .text-wrap
            .title December 2015 - January 2019
            .content Sr Creative Technologist
            .content Google Creative Lab - NYC
        .entry
          .title May 2014 - December 2015
          .content Product Design Lead
          .content Google Accessories - NYC
        .entry 
          .text-wrap
            .title February 2013 - August 2014
            .content Co-Founder 
            .content Modern Assembly - NYC
        .entry 
          .text-wrap
            .title March 2011 - August 2012
            .content Sr Interactive Developer
            .content B-Reel - LA + NYC
        .entry 
          .text-wrap
            .title June 2009 - March 2011
            .content Sr Interactive Developer
            .content 65 Media - LA
      

      .item.content.skills
        .title Skills
        .entry
          .text-wrap 
            .title Design
            .content UI/UX, 3D modeling, software and hardware conceptual & prototype design, system & IA design, wireframing 
          .entry
          .text-wrap
            .title Research
            .content Qual/Quant Surveys, Usability studies, Click-through prototypes, Domain-expertise interviewing 
          .entry
          .text-wrap 
            .title Programming
            .content Client & Server Side Javascript, Typescript, React, Python, Java
          .entry
          .text-wrap
            .title Tools
            .content Adobe Creative Suite, Figma, Sketch, Rhino, Keyshot, iTerm, Visual Studio Code, Dovetail 
        
      .item.content.patents
        .title Patents
        .entry
          .text-wrap 
            .title Wireless Occupancy Sensors
            .content A design for a replaceable in-ground wireless sensor that can detect the presence of vehicles
            .content 2019
        .entry
          .text-wrap
            .title Computer-vision Enabled Wearable*
            .content A ring that uses a small camera, haptic feedback, and a button to help dictate objects that are surrounding one who may be visually impaired
            .content 2017
        .entry
          .text-wrap
            .title Biometric Case Design
            .content Using biometric data as an input for generative art in the context of producing personal hardware products, such as custom phone or laptop cases
            .content 2016
        .entry
          .text-wrap 
            .title Raincheck*
            .content An umbrella stand that can indicate weather patterns
            .content 2015
        .entry
          .text-wrap 
            .title Surfboard Tracking Sensor*
            .content Using an IMU sensor to track and visually represent the motion and path of a watercraft (surfboard)
            .content 2014
        .entry.footnote *provisional patents have been filed and since expired

      
      .item.content.education
        .title Education
        .entry
          .text-wrap 
            .title University of California, Irvine
            .content BS, Informatics, School of Information & Computer Sciences
            .content September 2005 - 2009
      

      .item.content.experiments
        .title Personal
        .entry
          .text-wrap
            .title The Spanish Chair <span class="light">- 2021</span>
            .content Reproduced the Spanish chair by <a href='https://en.wikipedia.org/wiki/B%C3%B8rge_Mogensen' target='_blank'>Børge Mogensen</a> using veg-tan leather, walnut wood, and brass hardware. 
        
        .entry
          .text-wrap
            .title The Shop <span class="light">- 2020</span>
            .content In the midst of the pandemic, <a href='https://erezhorovitz.com/' target='_blank'>Erez Horovitz</a> and I built a fabrication/woodworking studio in Greenpoint, Brooklyn. 

        .entry
          .text-wrap
            .title The Table <span class="light">- 2016</span>
            .content Inspired by the work of <a href='https://en.wikipedia.org/wiki/George_Nakashima' target='_blank'>George Nakashima</a>, I designed and built a live-edge coffee table from a slab of a cherry tree, with walnut butterfly inlays and turned legs.

        .entry
          .text-wrap
            .title Raincheck <span class="light">- 2015</span>
            .content Raincheck is an umbrella stand that knows when it will rain. It indicates the chance of rain, snow, and extreme conditions through subtle illuminated indicators.
  
  script(src='/static/js/anime.min.js')
  script(src='/static/js/main.js')