body{
	-webkit-font-smoothing: antialiased;
	-webkit-line-break: after-white-space;

	-moz-font-feature-settings:"kern" 1; 
	-moz-font-feature-settings:"kern=1"; 
	-ms-font-feature-settings:"kern" 1; 
	-o-font-feature-settings:"kern" 1; 
	-webkit-font-feature-settings:"kern" 1; 
	font-feature-settings:"kern" 1;

	background:url('../img/E2602_04.jpg');
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;

	color:white;
}

.bar{
	background:white;
	position:absolute;
}

.bar.top{
	height:15px;
	width:100%;
	top:0px;
	left:0;
}

.bar.bottom{
	height:15px;
	width:100%;
	bottom:0px;
	left:0;
}

.bar.left{
	width:15px;
	height:100%;
	top:0px;
	left:0px;
}

.bar.right{
	width:15px;
	height:100%;
	top:0px;
	right:0px;	
}

.about-copy{
	max-width:435px;
	margin-left:70px;
	margin-top:70px;
}

.title, .subtitle{
	font-size: 94px;
	font-weight: 500;
	font-style: normal;
	font-variant: normal;
	transform: matrix(1, 0, 0, 1, 0, -2.88000011444092);
	line-height: 0.9em;
}

.subtitle{
	font-size:22px;
	padding-bottom: 9px;

}

.about{
	font-size:16px;
	text-align:justify;
	text-justify:inter-word;
	margin-top: -5px;
}

a{
	color:#B2B2B2;
	text-decoration:none;

}

hr{
	border-color:white;
	border-color: white;
	border-style: solid;
	border-bottom: none;
}