@font-face {
    font-family: 'Boogy_Brut_WEB-Medium';
    src:    url('Boogy_Brut_WEB-Medium.eot');
    src:    url('Boogy_Brut_WEB-Medium.eot?#iefix') format('embedded-opentype'),
            url('Boogy_Brut_WEB-Medium.woff') format('woff'),
            url('Boogy_Brut_WEB-Medium.woff2') format('woff2');
}